In [66]:
#Review change of automatic variable from integer to category

In [67]:
%matplotlib inline

from pathlib import Path

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from dmba import classificationSummary
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from math import sqrt

In [68]:
tn = pd.read_csv('ToyotaCorolla.csv')

In [69]:
tn.head()

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Parking_Assistant,Tow_Bar
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,1,1,0,0,0,1,0,0,0,0
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,0,1,0,0,0,1,0,0,0,0
2,3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,0,1,0,0,0,1,0,0,0,0
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,0,1,0,0,0,1,0,0,0,0
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,...,1,1,0,1,0,1,0,0,0,0

In [70]:
tn.iloc[21]

Id                                                                  22
Model                TOYOTA Corolla 1.6 16V VVT I 3DR SOL AUT4 2/3-...
Price                                                            16950
Age_08_04                                                           29
Mfg_Month                                                            4
Mfg_Year                                                          2002
KM                                                               43905
Fuel_Type                                                       Petrol
HP                                                                 110
Met_Color                                                            0
Color                                                             Grey
Automatic                                                            1
CC                                                                1600
Doors                                                                3
Cylinders                                                            4
Gears                                                                5
Quarterly_Tax                                                      100
Weight                                                            1170
Mfr_Guarantee                                                        0
BOVAG_Guarantee                                                      1
Guarantee_Period                                                     3
ABS                                                                  1
Airbag_1                                                             1
Airbag_2                                                             1
Airco                                                                1
Automatic_airco                                                      1
Boardcomputer                                                        1
CD_Player                                                            0
Central_Lock                                                         1
Powered_Windows                                                      1
Power_Steering                                                       1
Radio                                                                0
Mistlamps                                                            1
Sport_Model                                                          1
Backseat_Divider                                                     1
Metallic_Rim                                                         0
Radio_cassette                                                       0
Parking_Assistant                                                    0
Tow_Bar                                                              0
Name: 21, dtype: object

In [71]:
tn.columns

Index(['Id', 'Model', 'Price', 'Age_08_04', 'Mfg_Month', 'Mfg_Year', 'KM',
       'Fuel_Type', 'HP', 'Met_Color', 'Color', 'Automatic', 'CC', 'Doors',
       'Cylinders', 'Gears', 'Quarterly_Tax', 'Weight', 'Mfr_Guarantee',
       'BOVAG_Guarantee', 'Guarantee_Period', 'ABS', 'Airbag_1', 'Airbag_2',
       'Airco', 'Automatic_airco', 'Boardcomputer', 'CD_Player',
       'Central_Lock', 'Powered_Windows', 'Power_Steering', 'Radio',
       'Mistlamps', 'Sport_Model', 'Backseat_Divider', 'Metallic_Rim',
       'Radio_cassette', 'Parking_Assistant', 'Tow_Bar'],
      dtype='object')

Age_08_04, KM, Fuel_Type, HP, Automatic, Doors, Quarterly_Tax, Mfr_Guarantee, Guarantee_Period, Airco, Automatic_airco, CD_Player, Powered_Windows, Sport_Model, and Tow_Bar.

In [72]:
tn.dtypes

Id                    int64
Model                object
Price                 int64
Age_08_04             int64
Mfg_Month             int64
Mfg_Year              int64
KM                    int64
Fuel_Type            object
HP                    int64
Met_Color             int64
Color                object
Automatic             int64
CC                    int64
Doors                 int64
Cylinders             int64
Gears                 int64
Quarterly_Tax         int64
Weight                int64
Mfr_Guarantee         int64
BOVAG_Guarantee       int64
Guarantee_Period      int64
ABS                   int64
Airbag_1              int64
Airbag_2              int64
Airco                 int64
Automatic_airco       int64
Boardcomputer         int64
CD_Player             int64
Central_Lock          int64
Powered_Windows       int64
Power_Steering        int64
Radio                 int64
Mistlamps             int64
Sport_Model           int64
Backseat_Divider      int64
Metallic_Rim          int64
Radio_cassette        int64
Parking_Assistant     int64
Tow_Bar               int64
dtype: object

In [73]:
scaler = MinMaxScaler()
input = ['Age_08_04', 'KM', 'HP', 'Quarterly_Tax', 'Guarantee_Period']
norm_tn_input = pd.DataFrame(scaler.fit_transform(tn[input]), columns = input)

In [74]:
output = ['Price']
tn_output = tn[output]

In [75]:
tn['Fuel_Type'] = tn['Fuel_Type'].astype('category')
tn['Automatic'] = tn['Automatic'].astype('category')
tn['Mfr_Guarantee'] = tn['Mfr_Guarantee'].astype('category')
tn['Airco'] = tn['Airco'].astype('category')
tn['Automatic_airco'] = tn['Automatic_airco'].astype('category')
tn['CD_Player'] = tn['CD_Player'].astype('category')
tn['Powered_Windows'] = tn['Powered_Windows'].astype('category')
tn['Sport_Model'] = tn['Sport_Model'].astype('category')
tn['Tow_Bar'] = tn['Tow_Bar'].astype('category')
tn['Doors'] = tn['Doors'].astype('category')

sub = ['Fuel_Type', 'Automatic', 'Mfr_Guarantee', 'Airco', 'Automatic_airco', 'CD_Player',  'Powered_Windows','Sport_Model',
       'Tow_Bar', 'Doors']

processed = pd.get_dummies(tn[sub], columns = ['Doors', 'Automatic', 'Fuel_Type', 'Mfr_Guarantee', 'Airco', 'Automatic_airco',
                                         'CD_Player', 'Powered_Windows','Sport_Model','Tow_Bar']).drop(columns=['Doors_2'])


predictors = ['Fuel_Type_Petrol', 'Fuel_Type_CNG', 'Fuel_Type_Diesel', 'Automatic_0',
              'Automatic_1', 'Doors_3', 'Doors_4', 'Doors_5', 'Mfr_Guarantee_0', 'Mfr_Guarantee_1', 
              'Airco_0', 'Airco_1', 'Automatic_airco_0', 'Automatic_airco_1', 'CD_Player_0',
              'CD_Player_1','Powered_Windows_0', 'Powered_Windows_1', 'Sport_Model_0','Sport_Model_1', 'Tow_Bar_0', 
              'Tow_Bar_1']


categorical_df = processed[predictors]

In [76]:
categorical_df.head()

,Fuel_Type_Petrol,Fuel_Type_CNG,Fuel_Type_Diesel,Automatic_0,Automatic_1,Doors_3,Doors_4,Doors_5,Mfr_Guarantee_0,Mfr_Guarantee_1,...,Automatic_airco_0,Automatic_airco_1,CD_Player_0,CD_Player_1,Powered_Windows_0,Powered_Windows_1,Sport_Model_0,Sport_Model_1,Tow_Bar_0,Tow_Bar_1
0,0,0,1,1,0,1,0,0,1,0,...,1,0,1,0,0,1,1,0,1,0
1,0,0,1,1,0,1,0,0,1,0,...,1,0,0,1,1,0,1,0,1,0
2,0,0,1,1,0,1,0,0,0,1,...,1,0,1,0,1,0,1,0,1,0
3,0,0,1,1,0,1,0,0,0,1,...,1,0,1,0,1,0,1,0,1,0
4,0,0,1,1,0,1,0,0,0,1,...,1,0,1,0,0,1,1,0,1,0

In [77]:
categorical_df.columns

Index(['Fuel_Type_Petrol', 'Fuel_Type_CNG', 'Fuel_Type_Diesel', 'Automatic_0',
       'Automatic_1', 'Doors_3', 'Doors_4', 'Doors_5', 'Mfr_Guarantee_0',
       'Mfr_Guarantee_1', 'Airco_0', 'Airco_1', 'Automatic_airco_0',
       'Automatic_airco_1', 'CD_Player_0', 'CD_Player_1', 'Powered_Windows_0',
       'Powered_Windows_1', 'Sport_Model_0', 'Sport_Model_1', 'Tow_Bar_0',
       'Tow_Bar_1'],
      dtype='object')

In [78]:
processed = pd.concat([norm_tn_input, tn_output, categorical_df], axis=1, sort=False)

In [79]:
processed.head()

,Age_08_04,KM,HP,Quarterly_Tax,Guarantee_Period,Price,Fuel_Type_Petrol,Fuel_Type_CNG,Fuel_Type_Diesel,Automatic_0,...,Automatic_airco_0,Automatic_airco_1,CD_Player_0,CD_Player_1,Powered_Windows_0,Powered_Windows_1,Sport_Model_0,Sport_Model_1,Tow_Bar_0,Tow_Bar_1
0,0.278481,0.193355,0.170732,0.723485,0.0,13500,0,0,1,1,...,1,0,1,0,0,1,1,0,1,0
1,0.278481,0.300149,0.170732,0.723485,0.0,13750,0,0,1,1,...,1,0,0,1,1,0,1,0,1,0
2,0.291139,0.171647,0.170732,0.723485,0.0,13950,0,0,1,1,...,1,0,1,0,1,0,1,0,1,0
3,0.316456,0.197528,0.170732,0.723485,0.0,14950,0,0,1,1,...,1,0,1,0,1,0,1,0,1,0
4,0.367089,0.158433,0.170732,0.723485,0.0,13750,0,0,1,1,...,1,0,1,0,0,1,1,0,1,0

In [80]:
processed.columns

Index(['Age_08_04', 'KM', 'HP', 'Quarterly_Tax', 'Guarantee_Period', 'Price',
       'Fuel_Type_Petrol', 'Fuel_Type_CNG', 'Fuel_Type_Diesel', 'Automatic_0',
       'Automatic_1', 'Doors_3', 'Doors_4', 'Doors_5', 'Mfr_Guarantee_0',
       'Mfr_Guarantee_1', 'Airco_0', 'Airco_1', 'Automatic_airco_0',
       'Automatic_airco_1', 'CD_Player_0', 'CD_Player_1', 'Powered_Windows_0',
       'Powered_Windows_1', 'Sport_Model_0', 'Sport_Model_1', 'Tow_Bar_0',
       'Tow_Bar_1'],
      dtype='object')

In [81]:
processed.shape

(1436, 28)

In [82]:
outcome = 'Price'
predictors = [c for c in processed.columns if c != outcome ]

# partition data
X = processed[predictors]
y = processed[outcome]

train_X, valid_X, train_y, valid_y = train_test_split(X, y, test_size = 0.4, random_state = 1)

# train neural network with 2 hidden nodes
clf = MLPClassifier(hidden_layer_sizes = (1,2), activation = 'logistic', solver = 'lbfgs', random_state=1)
clf.fit(train_X, train_y)

C:\Users\GETHSEMAN\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:470: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

MLPClassifier(activation='logistic', alpha=0.0001, batch_size='auto',
              beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(1, 2), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=200,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=1, shuffle=True, solver='lbfgs',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [83]:
train_pred = clf.predict(train_X)

In [84]:
train_rms = sqrt(mean_squared_error(train_y, train_pred))

In [85]:
print(train_rms)

2662.8912722810724

In [86]:
valid_pred = clf.predict(valid_X)

In [87]:
valid_rms = sqrt(mean_squared_error(valid_y, valid_pred))

In [88]:
print(valid_rms)

2453.6416775354814

In [89]:
outcome = 'Price'
predictors = [c for c in processed.columns if c != outcome ]

# partition data
X = processed[predictors]
y = processed[outcome]

train_X, valid_X, train_y, valid_y = train_test_split(X, y, test_size = 0.4, random_state = 1)

# train neural network with 2 hidden nodes
clf = MLPClassifier(hidden_layer_sizes = (1,5), activation = 'logistic', solver = 'lbfgs', random_state=1)
clf.fit(train_X, train_y)

C:\Users\GETHSEMAN\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:470: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

MLPClassifier(activation='logistic', alpha=0.0001, batch_size='auto',
              beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(1, 5), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=200,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=1, shuffle=True, solver='lbfgs',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [90]:
train_pred_1 = clf.predict(train_X)

In [91]:
train_rms_1 = sqrt(mean_squared_error(train_y, train_pred_1))
print(train_rms_1)

2821.743048264624

In [92]:
valid_pred_1 = clf.predict(valid_X)

In [93]:
valid_rms_1 = sqrt(mean_squared_error(valid_y, valid_pred_1))
print(valid_rms_1)

2614.3809815177547

In [94]:
outcome = 'Price'
predictors = [c for c in processed.columns if c != outcome ]

# partition data
X = processed[predictors]
y = processed[outcome]

train_X, valid_X, train_y, valid_y = train_test_split(X, y, test_size = 0.4, random_state = 1)

# train neural network with 2 hidden nodes
clf = MLPClassifier(hidden_layer_sizes = (2,5), activation = 'logistic', solver = 'lbfgs', random_state=1)
clf.fit(train_X, train_y)

C:\Users\GETHSEMAN\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:470: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

MLPClassifier(activation='logistic', alpha=0.0001, batch_size='auto',
              beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(2, 5), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=200,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=1, shuffle=True, solver='lbfgs',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [95]:
train_pred_2 = clf.predict(train_X)

In [96]:
train_rms_2 = sqrt(mean_squared_error(train_y, train_pred_2))
print(train_rms_2)

1818.8241175912824

In [97]:
valid_pred_2 = clf.predict(valid_X)

In [98]:
valid_rms_2 = sqrt(mean_squared_error(valid_y, valid_pred_2))
print(valid_rms_2)

1776.881269797316