In [31]:
%matplotlib inline

from path import Path

import math
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import statsmodels.formula.api as sm
from statsmodels.tsa import tsatools, stattools
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.graphics import tsaplots

In [32]:
to = pd.read_csv('ToysRUsRevenues.csv')

In [33]:
to

    Index QuarterYear  Revenue(in million $) Quarter
0       1       Q1-92                   1026      Q1
1       2       Q2-92                   1056      Q2
2       3       Q3-92                   1182      Q3
3       4       Q4-92                   2861      Q4
4       5       Q1-93                   1172      Q1
5       6       Q2-93                   1249      Q2
6       7       Q3-93                   1346      Q3
7       8       Q4-93                   3402      Q4
8       9       Q1-94                   1286      Q1
9      10       Q2-94                   1317      Q2
10     11       Q3-94                   1449      Q3
11     12       Q4-94                   3893      Q4
12     13       Q1-95                   1462      Q1
13     14       Q2-95                   1452      Q2
14     15       Q3-95                   1631      Q3
15     16       Q4-95                   4200      Q4

In [34]:
to.dtypes

Index                     int64
QuarterYear              object
Revenue(in million $)     int64
Quarter                  object
dtype: object

In [35]:
date = to.QuarterYear.str.replace(r'(Q\d)-(\d+)', r'19\2-\1')
to['Date'] = pd.to_datetime(date).dt.strftime('%Q-%Y')

In [36]:
to

    Index QuarterYear  Revenue(in million $) Quarter                 Date
0       1       Q1-92                   1026      Q1  1992-01-01 00:00:00
1       2       Q2-92                   1056      Q2  1992-04-01 00:00:00
2       3       Q3-92                   1182      Q3  1992-07-01 00:00:00
3       4       Q4-92                   2861      Q4  1992-10-01 00:00:00
4       5       Q1-93                   1172      Q1  1993-01-01 00:00:00
5       6       Q2-93                   1249      Q2  1993-04-01 00:00:00
6       7       Q3-93                   1346      Q3  1993-07-01 00:00:00
7       8       Q4-93                   3402      Q4  1993-10-01 00:00:00
8       9       Q1-94                   1286      Q1  1994-01-01 00:00:00
9      10       Q2-94                   1317      Q2  1994-04-01 00:00:00
10     11       Q3-94                   1449      Q3  1994-07-01 00:00:00
11     12       Q4-94                   3893      Q4  1994-10-01 00:00:00
12     13       Q1-95                   1462      Q1  1995-01-01 00:00:00
13     14       Q2-95                   1452      Q2  1995-04-01 00:00:00
14     15       Q3-95                   1631      Q3  1995-07-01 00:00:00
15     16       Q4-95                   4200      Q4  1995-10-01 00:00:00

In [37]:
#convert to time series
revenue_ts = pd.Series(to['Revenue(in million $)'].values, index=to.Date, name = 'Revenue')
revenue_ts.index = pd.DatetimeIndex(revenue_ts.index)
revenue_df = tsatools.add_trend(revenue_ts, trend = 'ct')
revenue_df['Quarter'] = revenue_df.index.quarter

In [38]:
nValid = 2
nTrain = len(revenue_ts) - nValid

#partition the data
train_df = revenue_df[:nTrain]
valid_df = revenue_df[nTrain:]

revenue_lm_trendseason = sm.ols(formula = 'Revenue ~ trend + C(Quarter)', data = train_df).fit()

#fig, axes = plt.subplots(nrows=2, ncols=1, figsize=(9, 7.5))

#revenue_lm_trendseason.predict(train_df).plot(ax=axes[0], color='C1')
#revenue_lm_trendseason.predict(valid_df).plot(ax=axes[0], color='C1', linestyle='dashed')
    
#residual = train_df.Revenue - revenue_lm_trendseason.predict(train_df)
#residual.plot(ax=axes[1], color='C1')
#residual = valid_df.Revenue - revenue_lm_trendseason.predict(valid_df)
#residual.plot(ax=axes[1], color='C1', linestyle='dashed')

#graphLayout(axes, train_df, valid_df)

#plt.show()
print(revenue_lm_trendseason.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                Revenue   R-squared:                       0.977
Model:                            OLS   Adj. R-squared:                  0.967
Method:                 Least Squares   F-statistic:                     97.18
Date:                Sat, 13 Jun 2020   Prob (F-statistic):           2.13e-07
Time:                        18:10:01   Log-Likelihood:                -88.547
No. Observations:                  14   AIC:                             187.1
Df Residuals:                       9   BIC:                             190.3
Df Model:                           4
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept         906.7500    115.346      7.861      0.000     645.819    1167.681
C(Quarter)[T.2]   -15.1071    119.660     -0.126      0.902    -285.796     255.582
C(Quarter)[T.3]    89.1667    128.674      0.693      0.506    -201.914     380.247
C(Quarter)[T.4]  2101.7262    129.165     16.272      0.000    1809.534    2393.919
trend              47.1071     11.257      4.185      0.002      21.643      72.571
==============================================================================
Omnibus:                        5.015   Durbin-Watson:                   2.269
Prob(Omnibus):                  0.081   Jarque-Bera (JB):                2.414
Skew:                          -0.166   Prob(JB):                        0.299
Kurtosis:                       5.007   Cond. No.                         36.0
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

C:\Users\GETHSEMAN\anaconda3\lib\site-packages\scipy\stats\stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=14
  "anyway, n=%i" % int(n))

In [39]:
revenue_df

            Revenue  const  trend  Quarter
Date
1992-01-01     1026    1.0    1.0        1
1992-04-01     1056    1.0    2.0        2
1992-07-01     1182    1.0    3.0        3
1992-10-01     2861    1.0    4.0        4
1993-01-01     1172    1.0    5.0        1
1993-04-01     1249    1.0    6.0        2
1993-07-01     1346    1.0    7.0        3
1993-10-01     3402    1.0    8.0        4
1994-01-01     1286    1.0    9.0        1
1994-04-01     1317    1.0   10.0        2
1994-07-01     1449    1.0   11.0        3
1994-10-01     3893    1.0   12.0        4
1995-01-01     1462    1.0   13.0        1
1995-04-01     1452    1.0   14.0        2
1995-07-01     1631    1.0   15.0        3
1995-10-01     4200    1.0   16.0        4