In [17]:
%matplotlib inline

from pathlib import Path

import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
import matplotlib.pylab as plt
from IPython.display import Image
from dmba import classificationSummary, regressionSummary
from sklearn import tree
import pydotplus

In [18]:
eb = pd.read_csv('eBayAuctions.csv')

In [19]:
eb.sample(5)

,Category,currency,sellerRating,Duration,endDay,ClosePrice,OpenPrice,Competitive?
1787,Electronics,US,2358,5,Mon,114.50,9.99,1
477,Music/Movie/Game,GBP,105,7,Thu,5.16,4.45,1
530,Collectibles,US,25433,7,Sat,2.99,2.99,0
940,Books,US,2191,7,Mon,5.99,5.99,0
1917,Automotive,US,2992,3,Fri,95.00,95.00,0

In [20]:
eb['Category'].unique()

array(['Music/Movie/Game', 'Automotive', 'SportingGoods', 'Home/Garden',
       'Books', 'Collectibles', 'Business/Industrial', 'Toys/Hobbies',
       'Electronics', 'Computer', 'EverythingElse',
       'Clothing/Accessories', 'Coins/Stamps', 'Antique/Art/Craft',
       'Jewelry', 'Pottery/Glass', 'Health/Beauty', 'Photography'],
      dtype=object)

In [21]:
eb.currency.unique()

array(['US', 'GBP', 'EUR'], dtype=object)

In [22]:
eb.shape

(1972, 8)

In [23]:
eb.isnull().sum()

Category        0
currency        0
sellerRating    0
Duration        0
endDay          0
ClosePrice      0
OpenPrice       0
Competitive?    0
dtype: int64

In [24]:
eb.dtypes

Category         object
currency         object
sellerRating      int64
Duration          int64
endDay           object
ClosePrice      float64
OpenPrice       float64
Competitive?      int64
dtype: object

In [25]:
eb['Duration'].unique()

array([ 5,  7,  1,  3, 10], dtype=int64)

In [26]:
eb['Duration'] = eb['Duration'].astype('category')

In [27]:
eb.dtypes

Category          object
currency          object
sellerRating       int64
Duration        category
endDay            object
ClosePrice       float64
OpenPrice        float64
Competitive?       int64
dtype: object

In [28]:
#eb = pd.get_dummies(eb)

In [29]:
eb.head()

,Category,currency,sellerRating,Duration,endDay,ClosePrice,OpenPrice,Competitive?
0,Music/Movie/Game,US,3249,5,Mon,0.01,0.01,0
1,Music/Movie/Game,US,3249,5,Mon,0.01,0.01,0
2,Music/Movie/Game,US,3249,5,Mon,0.01,0.01,0
3,Music/Movie/Game,US,3249,5,Mon,0.01,0.01,0
4,Music/Movie/Game,US,3249,5,Mon,0.01,0.01,0

In [30]:
X = eb.drop(columns = ['Competitive?'])
y = eb['Competitive?']

train_X, valid_X, train_y, valid_y = train_test_split(X, y, test_size = 0.4, random_state = 1)

smallClassTree = DecisionTreeClassifier(min_samples_split = 50, max_depth = 7, random_state = 1)

smallClassTree.fit(train_X, train_y)

dot_data = tree.export_graphviz(smallClassTree, feature_names = train_X.columns)

graph = pydotplus.graph_from_dot_data(dot_data)

ValueError: could not convert string to float: 'Collectibles'

In [ ]:
Image(graph.create_png())